@import "tailwindcss"; 
@custom-variant dark (&:where(.dark , .dark *));

/* Hide scrollbar but allow scrolling */
.hide-scrollbar {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}